<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <a (click)="onClick()"
        class="shadow-sm rounded-lg p-4 bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-600 dark:hover:bg-gray-700 transition duration-200 cursor-pointer">
        <h2 class="text-xl font-semibold text-gray-800 dark:text-white truncate">{{ setName }}</h2>
        <p class="text-sm text-gray-600 dark:text-gray-400 mt-2">Owner: {{ owner }}</p>
        <p class="text-sm text-gray-600 dark:text-gray-400">Terms: {{ termCount }}</p>
    </a>
</div>